/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/_controls.scss */
.buttonbar {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  height: 27px;
}

/* line 14, ../sass/_controls.scss */
button, input {
  display: inline-block;
}

/* line 18, ../sass/_controls.scss */
button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #f1f1f1;
  border: 1px solid #e5e5e5;
  color: #333333;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 27px;
  min-width: 70px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
}
/* line 32, ../sass/_controls.scss */
button.disabled, button:disabled {
  opacity: 0.5;
}
/* line 36, ../sass/_controls.scss */
button:focus {
  border-color: #4d90fe;
  outline: 4px solid #c2daff;
}
/* line 42, ../sass/_controls.scss */
button:not(.disabled):not(:disabled):focus, button:not(.disabled):not(:disabled):hover {
  background-color: #f6f6f6;
}
/* line 45, ../sass/_controls.scss */
button:not(.disabled):not(:disabled):active {
  background-color: #ececec;
}
/* line 50, ../sass/_controls.scss */
button.submit {
  background-color: #4d90fe;
  border-color: #4d90fe;
  color: white;
}
/* line 56, ../sass/_controls.scss */
button.submit:not(.disabled):not(:disabled):focus, button.submit:not(.disabled):not(:disabled):hover {
  background-color: #5796fe;
}
/* line 59, ../sass/_controls.scss */
button.submit:not(.disabled):not(:disabled):active {
  background-color: #438afe;
}

/* line 66, ../sass/_controls.scss */
input {
  border: 1px solid #e5e5e5;
  font-size: inherit;
  line-height: 23px;
  padding: 2px;
}
/* line 72, ../sass/_controls.scss */
input:focus {
  border-color: #4d90fe;
  outline: none;
}

/* line 5, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/main.scss */
body {
  font-family: "Roboto", "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 19px;
}

/* line 15, ../sass/main.scss */
a {
  color: #3366dd;
  text-decoration: none;
}
/* line 19, ../sass/main.scss */
a:focus, a:hover {
  outline: none;
  text-decoration: underline;
}
/* line 24, ../sass/main.scss */
a:active {
  color: #dd4b39;
}
/* line 28, ../sass/main.scss */
a:visited {
  color: #1111cc;
}

/* line 33, ../sass/main.scss */
.flex-space {
  -webkit-flex: 10;
}

/* line 37, ../sass/main.scss */
header.pagehead {
  background-color: #acacac;
  color: #333333;
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px;
  text-transform: uppercase;
}
/* line 45, ../sass/main.scss */
header.pagehead > * {
  display: inline-block;
}
/* line 49, ../sass/main.scss */
header.pagehead a {
  color: inherit;
  display: inline-block;
  padding: 5px;
}
/* line 54, ../sass/main.scss */
header.pagehead a:hover {
  background-color: #e5e5e5;
  text-decoration: none;
}
/* line 60, ../sass/main.scss */
header.pagehead h1 {
  font-weight: bold;
}
/* line 63, ../sass/main.scss */
header.pagehead h1 a {
  padding: 0;
}
/* line 66, ../sass/main.scss */
header.pagehead h1 a:hover {
  background-color: transparent;
}
/* line 73, ../sass/main.scss */
header.pagehead nav {
  margin-left: 40px;
}

/* line 78, ../sass/main.scss */
.content {
  padding: 0 20px;
}

/* line 83, ../sass/main.scss */
.finsky .product {
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  -webkit-user-select: none;
}
/* line 90, ../sass/main.scss */
.finsky .product .name {
  -webkit-flex: 1;
}
/* line 94, ../sass/main.scss */
.finsky .product .detail {
  color: #acacac;
  font-size: 11px;
}

/* line 102, ../sass/main.scss */
.multiselect {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  margin-top: 10px;
}
/* line 107, ../sass/main.scss */
.multiselect .selected {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background-color: #e5e5e5;
  -webkit-flex: 1;
  padding: 10px;
}
/* line 114, ../sass/main.scss */
.multiselect .selected ul {
  -webkit-flex: 1;
}
/* line 117, ../sass/main.scss */
.multiselect .selected ul .product {
  display: -webkit-flex;
  margin: 0 0 5px 0;
}
/* line 121, ../sass/main.scss */
.multiselect .selected ul .product .delete {
  background-image: url("/images/delete.png");
  background-position: center center;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  opacity: 0.6;
}
/* line 135, ../sass/main.scss */
.multiselect .selected .buttonbar {
  margin-top: 5px;
}
/* line 140, ../sass/main.scss */
.multiselect .dataset {
  -webkit-flex: 3;
  margin-left: 10px;
}
/* line 144, ../sass/main.scss */
.multiselect .dataset .product {
  display: -webkit-inline-flex;
  cursor: pointer;
  margin: 0 10px 10px 0;
  width: 33%;
}
/* line 150, ../sass/main.scss */
.multiselect .dataset .product.selected {
  color: white;
  background-color: #4d90fe;
}
/* line 154, ../sass/main.scss */
.multiselect .dataset .product.selected .detail {
  color: #e5e5e5;
}
/* line 160, ../sass/main.scss */
.multiselect .dataset ul {
  margin-top: 10px;
}
/* line 165, ../sass/main.scss */
.multiselect .dataset .buttonbar input {
  margin-right: 20px;
  width: 50%;
}

/* line 175, ../sass/main.scss */
.dragdrop .dropzone {
  border: 1px solid #e5e5e5;
  height: 400px;
  width: 400px;
}
/* line 180, ../sass/main.scss */
.dragdrop .dropzone .dropped {
  background-color: #e5e5e5;
  padding: 4px 10px;
}
/* line 186, ../sass/main.scss */
.dragdrop .item {
  width: 200px;
  height: 19px;
  line-height: 19px;
}
/* line 191, ../sass/main.scss */
.dragdrop .item.aj-dragstart {
  opacity: 0.6;
}
