@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "flex";
@import "vars";
@import "controls";

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", "Open Sans", "Arial", sans-serif;
  font-size: $fontSize;
  line-height: $lineHeight;

  // Use flexbox everywhere!
  @include display-flex();
  @include flex-direction(column);
}

a {
  color: $linkColor;
  text-decoration: none;

  &:focus, &:hover {
    outline: none;
    text-decoration: underline;
  }

  &:active {
    color: $red;
  }

  &:visited {
    color: $linkVisitedColor;
  }
}

[ng-cloak] {
  display: none;
}

.flex-space {
  @include flex(10);
}

@mixin xButton() {
  background-image: url("/images/x.png");
  background-position: center center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

.notification-bar {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
  pointer-events: none;

  .content {
    @include display-inline-flex();
    @include flex-direction(row);
    @include align-items(center);
    background-color: $yellow;
    @include box-shadow(0 0 3px rgba(64, 64, 64, 0.2));
    line-height: 20px;
    min-width: 100px;
    padding: 10px 20px;
    position: relative;
    pointer-events: auto;

    &.error {
      background-color: $red;
    }

    .message {
      @include flex(1);
      color: $grayDarker;
      font-weight: bold;
    }

    .close {
      @include xButton();
      margin-left: 10px;
      opacity: 0.9;
    }
  }
}

header.pagehead {
  background-color: $grayLight;
  color: $grayDarker;
  font-size: 12px;
  line-height: 20px;
  padding: 0 $lrPadding;
  text-transform: uppercase;

  & > * {
    display: inline-block;
  }

  a {
    color: inherit;
    display: inline-block;
    padding: $navLinkPadding;

    &:hover, &.selected {
      background-color: $grayLighter;
      text-decoration: none;
    }
  }

  h1 {
    font-weight: bold;

    a {
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }

  }

  nav {
    margin-left: 2*$lrPadding;
  }
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

// Homepage -----------------------------
.notifications-demo {

  label, input, button {
    display: inline-block;
    margin: 5px 0;
  }

  label {
    width: 200px;
  }
}

//

#content {
  padding: 0 $lrPadding;

  // Use flexbox everywhere!
  @include display-flex();
  @include flex-direction(column);
  @include flex(1);

  div:first-child, section:first-child {
    @include flex(1);
    margin-bottom: 10px;
  }
}

.columns {
  @include display-flex();
  @include flex-direction(row);

  .col1 {
    -webkit-flex: 1;
  }

  .col2 {
    -webkit-flex: 2;
  }

  .col3 {
    -webkit-flex: 3;
  }
}

.finsky {
  .product {
    @include flex-direction(row);
    @include align-items(center);
    background-color: $grayLightest;
    padding: 10px;
    @include user-select(none);

    .name {
      -webkit-flex: 1;
    }

    .detail {
      color: $grayLight;
      font-size: 11px;
    }
  }

  .dataset {
    -webkit-flex: 3;
    margin-left: 10px;

    .product {
      @include display-inline-flex();
      margin: 0 10px 10px 0;
      width: 33%;
    }

    ul {
      margin-top: 10px;
    }

    .buttonbar {
      input {
        margin-right: 20px;
        width: 50%;
      }
    }
  }

  .selection {
    @include display-flex();
    @include flex-direction(column);
    background-color: $grayLighter;
    padding: 10px;

    ul {
      @include flex(1);
      overflow: scroll;

      .product {
        @include display-flex();
        margin: 0 0 5px 0;  // reset other margins

        .delete {
          @include xButton();
          opacity: 0.6;
        }
      }
    }

    .buttonbar {
      margin-top: 10px;
    }
  }
}

// MultiSelect --------------------------------
.multiselect {
  margin-top: 10px;

  .dataset {
    .product {
      cursor: pointer;

      &.selected {
        color: $white;
        background-color: $blue;

        .detail {
          color: $grayLighter;
        }
      }
    }
  }
}

// DragDrop --------------------------------
.dragdrop {
  margin-top: 10px;

  .selections {
    @include display-flex();
    @include flex-direction(column);

    .selection {
      @include flex(1);
    }

    h3 {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      font-size: 1em;
    }
  }

  .product {
    cursor: move;
    &.selected {
      color: $white;
      background-color: $blue;

      .detail {
        color: $grayLighter;
      }
    }
    &.disabled, &:disabled {
      opacity: 0.5;
    }
  }

  .dragstart {
    opacity: 0.5;
  }
}

.dropzone {
  border: 1px solid transparent;

  &.dragover {
    border-color: $blue;
  }
}
