<div class="dragdrop finsky columns">

  <section class="selections col1">
    <h3>Documents</h3>
    <section class="documents selection dropzone"
             aj-drop aj-drop-fn="onDropDocument($data)">
      <ul>
        <li ng-repeat="product in getSelectedDocuments()" class="product">
          <span class="name">{{product.name}}</span>
          <span class="detail">{{product.detail.join(', ')}}</span>
          <!-- <span class="delete" ng-click="deselect(product)">&nbsp;</span> -->
        </li>
      </ul>
      <div class="buttonbar">
        <button ng-disabled="!hasDocuments" class="submit">Save</button>
        <button ng-disabled="!hasDocuments" ng-click="clearDocuments()">Clear</button>
      </div>
    </section>

    <h3>Accessories</h3>
    <section class="accessories selection dropzone"
             aj-drop aj-drop-fn="onDropAccessory($data)">
      <ul>
        <li ng-repeat="product in getSelectedAccessories()" class="product">
          <span class="name">{{product.name}}</span>
          <span class="detail">{{product.detail.join(', ')}}</span>
          <!-- <span class="delete" ng-click="deselect(product)">&nbsp;</span> -->
        </li>
      </ul>
      <div class="buttonbar">
        <button ng-disabled="!hasAccessories" class="submit">Save</button>
        <button ng-disabled="!hasAccessories" ng-click="clearAccessories()">Clear</button>
      </div>
    </section>
  </section>

  <section class="dataset col3">
    <div class="buttonbar">
      <input type="search" placeholder="Search" ng-model="search">
      <button ng-disabled="!hasDocuments && !hasAccessories" ng-click="clearAll()">Clear All</button>
    </div>
    <ul>
      <li ng-repeat="product in list | filter:search" class="product"
          ng-disabled="isSelected(product)" ng-class="{selected: isSelected(product)}"
          aj-drag="product.id">
        <span class="name">{{product.name}}</span>
        <span class="detail">{{product.detail.join(', ')}}</span>
      </li>
    </ul>
  </section>
</div>
