<section class="multiselect">
  <section class="selected">
    <ul>
      <li ng-repeat="product in list | filter:isSelected" class="product">
        <span class="name">{{product.name}}</span>
        <span class="detail">{{product.detail.join(', ')}}</span>
        <span class="delete" ng-click="deselect(product)">&nbsp;</span>
      </li>
      <!-- Can be used like this to not have to create $scope.deselect() -->
      <!-- <span class="delete" ng-click="product.selected = false">&nbsp;</span> -->
    </ul>
    <div class="buttonbar">
      <button class="submit" ng-disabled="!countSelected()" ng-click="save()">Save</button>
    </div>
  </section>

  <section class="dataset">
    <div class="buttonbar">
      <input type="search" placeholder="Filter" ng-model="model.filter">
      <button ng-click="clear()" ng-disabled="!countSelected()">Clear</button>
    </div>
    <ul>
      <li ng-repeat="product in list | filter:model.filter" class="product"
          ng-click="toggle(product)"
          ng-class="{selected: isSelected(product)}">
        <span class="name">{{product.name}}</span>
        <span class="detail">{{product.detail.join(', ')}}</span>
      </li>
      <!-- Alternate, but couples "selected" key between ctrl and view. -->
      <!-- ng-class="{selected: product.selected}" -->
      <!-- Can be used like this to not have to create $scope.toggle() -->
      <!-- ng-click="product.selected = !product.selected" -->
    </ul>
  </section>
</section>
